<h2>Login</h2>
<form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
  <div>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" formControlName="email" ngModel required />
  </div>
  <div class="error" *ngIf="email?.invalid && email?.touched">
    <div *ngIf="email?.errors?.['required']">Email is required.</div>
    <div *ngIf="email?.errors?.['email']">Enter a valid email address.</div>
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" formControlName="password" ngModel required />
  </div>
  <div class="error" *ngIf="password?.invalid && password?.touched">
    <div *ngIf="password?.errors?.['required']">Password is required.</div>
  </div>
  <button type="submit">Login</button>
  <div class="error">
    {{errorMsg}}
  </div>
</form>

<h4>
  <a style="text-align: center;" routerLink="/registration">Go to Registration</a>
</h4>
